@using SuperAIClient.Shared.Component.ChatMsgList;

<div class="chat-container" style="@Style">
    @foreach (var item in Items)
    {
        @switch (item.UserType)
        {
            case ChatUserType.Sender:
                <div class="message-wrapper message-right" id="@item.Id">
                    <div class="message">
                        <div class="message-content">
                            <MMarkdownIt Html="@true" Source="@item.Content.Replace("\n","\n\n")" Class="markdown-parser__basic" />
                        </div>
                        <span class="arrow-right"></span>
                    </div>
                    <img class="avatar" src="@item.HeadIconURL" alt="头像">
                </div>
                break;
            case ChatUserType.Receiver:
                <div class="message-wrapper message-left" id="@item.Id">
                    <img class="avatar" src="@item.HeadIconURL" alt="头像">
                    <div class="message">
                        <div class="message-content">
                            <MMarkdownIt Html="@true" Source="@item.Content" Class="markdown-parser__basic" />
                        </div>
                        <span class="arrow-left"></span>
                    </div>
                </div>
                break;
            default:
                break;
        }
    }
</div>

@code {
    [Parameter]
    public List<ChatMsgItem> Items { get; set; }

    [Parameter]
    public EventCallback<List<ChatMsgItem>> ItemsChanged { get; set; }

    [Parameter]
    public string Style { get; set; } = "";
}
