<div class="message-wrapper message-right" id="@Item.Id">
    <div class="message">
        <div class="message-content">
            <MMarkdownIt Html="@true" Source="@Item.Content.Replace("\n","\n\n")" Class="markdown-parser__basic" />
        </div>
        <span class="arrow-right"></span>
    </div>
    <MMenu Bottom MinWidth="200" OffsetY>
        <ActivatorContent>
            <MAvatar Class="avatar" @attributes="@context.Attrs">
                <MImage Src="@Item.HeadIconURL" Alt="头像"></MImage>
            </MAvatar>
        </ActivatorContent>
        <ChildContent>
            <MCard>
                <MListItemContent Class="justify-center">
                    <div class="mx-auto text-center">
                        @*                                            <MButton Depressed Rounded Text OnClick="async ()=>await OnItemEdit.InvokeAsync(item)">
                        <MIcon Color="grey darken-3">mdi-pencil-outline</MIcon>编辑
                        </MButton>
                        <MDivider class="my-3"></MDivider>*@
                        <MButton Depressed Rounded Text OnClick="async ()=>await OnItemRemove.InvokeAsync(Item)">
                            <MIcon Color="grey darken-3">mdi-delete-outline</MIcon>删除
                        </MButton>
                    </div>
                </MListItemContent>
            </MCard>
        </ChildContent>
    </MMenu>
</div>

@code {
    [Parameter]
    public ChatMsgItemInfo Item { get; set; }

    [Parameter]
    public EventCallback<ChatMsgItemInfo> OnItemEdit { get; set; }

    [Parameter]
    public EventCallback<ChatMsgItemInfo> OnItemRemove { get; set; }
}
